<% provide(:title, t('.about_html')) %>

<h1 class="animated fadeInDown"><%= t('.about_html') %></h1>

<div class="animated fadeIn">
  <p><%= t('.paragraph1_html') %></p>

  <p><%= t('.paragraph2_html') %></p>
</div>
