<% provide(:title, t('.about_html')) %>

<h1 class="animated fadeInDown"><%= t('.about_html') %></h1>

<div class="animated fadeInUp">
  <p><%= t('.paragraph1_html') %></p>

  <p><%= t('.paragraph2_html') %></p>
</div>

<p class="animated fadeIn" align="center"><%= image_tag('flames.jpg', alt: 'Amaterasu flames') %></p>
