<% provide(:title, 'Про нас') %>
<h1>Про нас</h1>
<p>
  <b>Аматерасу</b> (天 照, "Небесне освітлення") - чорне полум'я, гаряче як Сонце.
  Це полум'я неможливо згасити, воно горить тижнями.
</p>
<p>
  Цей сайт написано з навчальною метою. Сайт складається з кількох статичних сторінок, форми реєстрації та
  профілів користувачів. На сайті можна зареєструватися, оновлювати свої персональні дані,
  публікувати текстові повідомлення та читати дописи інших користувачів.
</p>
<p align="center"><%= link_to image_tag("flames.jpg", alt: "Amaterasu flames") %></p>
