<% provide(:title, t('.contacts_html')) %>
<h1><%= t('.contacts_html') %></h1>
<p><%= t('.paragraph1_html') %></p>
<p><%= t('.paragraph2_html') %></p>
<p>
  <%= t('.paragraph3_html') %>
  <a href="mailto:zell.xp@gmail.com">zell.xp@gmail.com</a>
</p>
