<% provide(:title, 'Довідка') %>
<h1>Довідка</h1>
<p>
  Amaterasu - це тестовий проект, розроблений за допомогою
  <a href="http://rubyonrails.org/">Ruby on Rails</a>.
</p>
<p>
  Для початку роботи з сайтом, будь ласка, зареєтсруйтесь. Після заповнення реєстраційної форми на
  вказану Вами електронну пошту надійде лист з посиланням для підтвердження реєстрації.
</p>
<p>
  Для відображення аватару Вашого профілю використовується сервіс Gravatar. Щоб вибрати
  власне зображення, прив’яжіть обрану Вами картинку до Вашої електронної пошти. Аватар
  Вашого профілю автоматично оновиться на нашому сайті.
</p>
<p>
  Якщо у Вас виникли проблеми з реєстрацією, будь ласка, вимкніть додаток AdBlock у Вашому браузері.
  Після успішної реєстрації AdBlock може бути знову увімкнений.
</p>
<p>
  Якщо Вам необхідна допомога, будь ласка, зверніться до адміністрації сайту.
  Контактні дані адміністрації знаходяться у розділі
  <%= link_to "Контакти", contact_path %>.
</p>
