<% provide(:title, 'Довідка') %>
<h1>Довідка</h1>
<p>
  Amaterasu - це тестовий проект, розроблений за допомогою
  <a href="http://rubyonrails.org/">Ruby on Rails</a>.
  На даний момент Amaterasu не потрібна довідкова система. Але в майбутньому,
  при вдосконаленні функціоналу проекту, довідкова система буде створена.
</p>
<p>
  Якщо Вам необхідна допомога, будь ласка, зверніться до адміністрації сайту.
  Контактні дані адміністрації знаходяться у розділі
  <%= link_to "Контакти", contact_path %>.
</p>