<div class="center hero-unit">
  <h1>Вітаємо на Amaterasu!</h1>

  <h2>
    This is the home page for the application developed by
    <a href="https://facebook.com/michael.zelenyuk">Michael Zelenyuk</a>.
  </h2>

  <%= link_to "Зареєструватися", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>