<h1>Welcome to Amaterasu!</h1>

<p>Hi, <strong><%= @user.first_name %></strong>!</p>

<p>Thanks for joining Amaterasu!</p>

<p>Now you can share your thoughts, follow other users, edit your account and do many other exciting things!</p>

<p>Before start you'll want to fill your profile to tell others a bit more about yourself. You always can do it on
  the <%= link_to '"Settings" page', edit_user_url(@user) %>.</p>

<p>Cheers,
  <br>
  The Amaterasu Team
</p>
