<footer class="footer custom_font">
  <small>
    by Michael Zelenyuk
  </small>
  <nav>
    <ul>
      <li><%= link_to 'Про нас', about_path %></li>
      <li><%= link_to 'Контакти', contact_path %></li>
      <li><%= link_to 'Довідка', help_path %></li>
    </ul>
  </nav>
</footer>
